

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.section-title {
	margin-bottom: 20px;
	text-align: center;
}

.section-title .product-price {
	font-size: 24px;
	font-weight: 700;
	color: #e7ab3c;
}

.section-title .product-price span {
	font-size: 16px;
	font-weight: 400;
	color: #636363;
}

.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #e7ab3c;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.ht-right .lan-selector {
	max-width: 142px;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.ht-right .lan-selector .ddcommon {
	max-width: 142px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none;
	cursor: pointer;
	padding: 0 20px;
}

.ht-right .lan-selector .ddcommon .ddTitle .ddTitleText img {
	padding-right: 5px;
}

.ht-right .lan-selector .ddcommon .ddTitle .ddTitleText span {
	font-size: 14px;
	color: #252525;
}

.ht-right .lan-selector .ddcommon .ddTitle .ddArrow:before {
	content: "3";
	font-family: "ElegantIcons";
	font-size: 14px;
	color: #636363;
	float: right;
	position: relative;
	right: 0;
	line-height: 26px;
}

.ht-right .lan-selector .ddcommon .ddChild {
	background: #fff;
	max-width: 142px;
	width: 100%;
	position: relative;
	left: 0;
}

.ht-right .lan-selector .ddcommon .ddChild ul {
	width: 100%;
	max-width: 142px;
}

.ht-right .lan-selector .ddcommon .ddChild ul li {
	line-height: 23px;
	padding: 0px 10px;
	list-style: none;
}

.ht-right .lan-selector .ddcommon .ddChild ul li img {
	padding-right: 10px;
}

.ht-right .lan-selector .ddcommon .ddChild ul li span {
	font-size: 13px;
	color: #000;
	letter-spacing: 0.325px;
}

.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
}

.header-top .ht-left {
	float: left;
}

.header-top .ht-left .mail-service {
	font-size: 16px;
	color: #252525;
	float: left;
	border-right: 1px solid #E5E5E5;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
}

.header-top .ht-left .mail-service i {
	margin-right: 5px;
}

.header-top .ht-left .phone-service {
	float: right;
	font-size: 14px;
	color: #252525;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 12px;
	padding-left: 20px;
}

.header-top .ht-left .phone-service i {
	margin-right: 5px;
}

.header-top .ht-right {
	float: right;
}

.header-top .ht-right .login-panel {
	float: right;
	font-size: 14px;
	color: #252525;
	display: inline-block;
	padding-left: 20px;
	border-left: 1px solid #e5e5e5;
	padding-top: 18px;
	padding-bottom: 15px;
}

.header-top .ht-right .login-panel i {
	margin-right: 8px;
}

.header-top .ht-right .lan-selector {
	float: right;
	margin-top: 15px;
	margin-bottom: 13px;
}

.header-top .ht-right .top-social {
	float: right;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-right: 1px solid #e5e5e5;
}

.header-top .ht-right .top-social a {
	color: #252525;
	font-size: 14px;
	display: inline-block;
	margin-left: 15px;
}

.inner-header {
	padding: 39px 0;
}

.inner-header .logo {
	padding: 12px 0;
}

.inner-header .logo a {
	display: inline-block;
}

.inner-header .advanced-search {
	height: 50px;
	border: 1px solid #ebebeb;
}

.inner-header .advanced-search .category-btn {
	max-width: 30%;
	float: left;
	background: transparent;
	border: none;
	padding-left: 23px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-right: 60px;
	font-size: 16px;
	color: #252525;
	position: relative;
}

.inner-header .advanced-search .category-btn:before {
	position: absolute;
	right: 0;
	top: 14px;
	width: 1px;
	height: 20px;
	background: #e5e5e5;
	content: "";
}

.inner-header .advanced-search .category-btn:after {
	position: absolute;
	right: 11px;
	top: 10px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 16px;
	color: #b2b2b2;
}

.inner-header .advanced-search .input-group {
	max-width: 70%;
	height: 100%;
}

.inner-header .advanced-search .input-group input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
	color: #d1d1d1;
	padding-left: 20px;
}

.inner-header .advanced-search .input-group button {
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	right: -3px;
	top: -1px;
	border: 1px solid #e7ab3c;
	background: #e7ab3c;
	padding: 12px 16px 12px;
	cursor: pointer;
}





.hero-items .single-hero-items p {
	margin-bottom: 42px;
	position: relative;
	top: 100px;
	opacity: 0;
}

.hero-items .single-hero-items .primary-btn {
	position: relative;
	top: 100px;
	opacity: 0;
}

.hero-items .off-card {
	height: 154px;
	width: 154px;
	padding-top: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 140px;
	position: absolute;
	left: 47%;
	top: 160px;
	background: #e7ab3c;
	z-index: 1;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.hero-items .off-card:after {
	position: absolute;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 2px dashed #ffffff;
	content: "";
	border-radius: 50%;
	z-index: -1;
}

.hero-items .off-card h2 {
	font-size: 32px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.hero-items .off-card h2 span {
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 6px;
}

.hero-items .owl-item.active .single-hero-items span,
.hero-items .owl-item.active .single-hero-items h1,
.hero-items .owl-item.active .single-hero-items p,
.hero-items .owl-item.active .single-hero-items .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-hero-items span {
	-webkit-transition: all 0.2s ease 0.2s;
	-o-transition: all 0.2s ease 0.2s;
	transition: all 0.2s ease 0.2s;
}

.hero-items .owl-item.active .single-hero-items h1 {
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.hero-items .owl-item.active .single-hero-items p {
	-webkit-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.hero-items .owl-item.active .single-hero-items .primary-btn {
	-webkit-transition: all 0.8s ease 0.8s;
	-o-transition: all 0.8s ease 0.8s;
	transition: all 0.8s ease 0.8s;
}

.hero-items .owl-item.active .single-hero-items .off-card {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}

.hero-items .owl-nav button[type=button] {
	font-size: 30px;
	position: absolute;
	left: 40px;
	top: 45%;
	color: #252525;
}

.hero-items .owl-nav button[type=button]:hover {
	color: #dfad51;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 40px;
}

/*---------------------
  Banner Section
-----------------------*/

.banner-section {
	padding: 80px 50px;
}

.single-banner {
	position: relative;
	z-index: 1;
}

.single-banner:hover::before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.single-banner::before {
	position: absolute;
	left: 35px;
	top: 30px;
	border: 13px solid #ffffff;
	content: "";
	opacity: 0.3;
	width: calc(100% - 70px);
	height: calc(100% - 60px);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.single-banner img {
	min-width: 100%;
}

.single-banner .inner-text {
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.single-banner .inner-text h4 {
	color: #252525;
	font-weight: 700;
	padding: 11px 28px;
	background: #ffffff;
	border-radius: 2px;
}

/*---------------------
  Women Banner Section
-----------------------*/

.women-banner {
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 0;
	padding-bottom: 10px;
}

.product-large {
	height: 620px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	padding-top: 285px;
}

.product-large h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 18px;
}

.product-large a {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	position: relative;
}

.product-large a:before {
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 2px;
	background: #ffffff;
	content: "";
}

.filter-control {
	text-align: center;
	margin-bottom: 25px;
	padding-top: 32px;
}

.filter-control ul li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	color: #b2b2b2;
	margin-right: 22px;
	position: relative;
	cursor: pointer;
}

.filter-control ul li.active {
	color: #171717;
}

.filter-control ul li.active:before {
	opacity: 1;
}

.filter-control ul li:before {
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background: #171717;
	content: "";
	opacity: 0;
}

.filter-control ul li:last-child {
	margin-right: 0;
}

.product-slider .owl-nav button[type=button] {
	font-size: 30px;
	position: absolute;
	left: -62px;
	top: 25%;
	color: #171717;
	opacity: 0.3;
}

.product-slider .owl-nav button[type=button].owl-next {
	left: auto;
	right: -62px;
	color: #171717;
	opacity: 1;
}

.product-slider .owl-dots {
	text-align: center;
	margin-top: 27px;
}

.product-slider .owl-dots button {
	width: 6px;
	height: 6px;
	background: #D8D9DA;
	border-radius: 50%;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.product-slider .owl-dots button:last-child {
	margin-right: 0;
}

.product-slider .owl-dots button.active {
	width: 30px;
	background: #252525;
	border-radius: 50px;
}

.product-item {
	margin-bottom: 26px;
}

.product-item:hover .pi-pic .icon {
	top: 15px;
	opacity: 1;
}

.product-item:hover .pi-pic ul {
	bottom: 0;
}

.product-item .pi-pic {
	overflow: hidden;
	position: relative;
}

.product-item .pi-pic img {
	min-width: 100%;
}

.product-item .pi-pic .sale {
	color: #ffffff;
	font-size: 10px;
	background: #76BC42;
	position: absolute;
	left: 0;
	top: 20px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.product-item .pi-pic .sale.pp-sale {
	background: #e7ab3c;
}

.product-item .pi-pic .icon {
	font-size: 20px;
	color: #252525;
	position: absolute;
	right: 21px;
	top: -15px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

.product-item .pi-pic ul {
	position: absolute;
	left: 0;
	bottom: -52px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	width: 100%;
}

.product-item .pi-pic ul li {
	list-style: none;
	display: inline-block;
	background: #ffffff;
}

.product-item .pi-pic ul li.w-icon.active a {
	background: #e7ab3c;
	color: #ffffff;
}

.product-item .pi-pic ul li a {
	font-size: 16px;
	font-weight: 700;
	color: #252525;
	display: block;
	padding: 16px 18px 12px 19px;
}

.product-item .pi-text {
	text-align: center;
	padding-top: 26px;
}

.product-item .pi-text .catagory-name {
	font-size: 10px;
	color: #b2b2b2;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.product-item .pi-text a {
	display: block;
}

.product-item .pi-text a h5 {
	color: #252525;
}

.product-item .pi-text .product-price {
	color: #e7ab3c;
	font-size: 20px;
	font-weight: 700;
}

.product-item .pi-text .product-price span {
	font-size: 14px;
	font-weight: 400;
	color: #b2b2b2;
	text-decoration: line-through;
}

/*---------------------
  Deal Of The Week
-----------------------*/

.deal-of-week {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-left: 65px;
	margin-right: 65px;
}

.countdown-timer {
	text-align: center;
	margin-bottom: 50px;
}

.countdown-timer .cd-item {
	display: inline-block;
	background: #ffffff;
	margin-right: 35px;
	padding: 10px 14px;
	border-radius: 5px;
}

.countdown-timer .cd-item:last-child {
	margin-right: 0;
}

.countdown-timer .cd-item span {
	color: #e7ab3c;
	font-weight: 700;
	line-height: 40px;
	font-size: 36px;
}

.countdown-timer .cd-item p {
	font-size: 16px;
	color: #b2b2b2;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

/*---------------------
  Man Banner
-----------------------*/

.man-banner {
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*---------------------
  Instagram Photo
-----------------------*/

.instagram-photo {
	overflow: hidden;
}

.instagram-photo .insta-item {
	float: left;
	width: 16.66%;
	height: 220px;
	text-align: center;
	position: relative;
}

.instagram-photo .insta-item:hover:before {
	opacity: 1;
}

.instagram-photo .insta-item:hover .inside-text {
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.instagram-photo .insta-item:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.instagram-photo .insta-item .inside-text {
	padding-top: 130px;
	opacity: 0;
	visibility: hidden;
	position: relative;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.instagram-photo .insta-item .inside-text i {
	font-size: 30px;
	color: #ffffff;
}

.instagram-photo .insta-item .inside-text h5 {
	margin-top: 10px;
}

.instagram-photo .insta-item .inside-text h5 a {
	color: #ffffff;
}

/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {
	padding-top: 10px;
	padding-bottom: 80px;
}

.latest-blog .section-title {
	margin-bottom: 55px;
}

.single-latest-blog {
	margin-bottom: 25px;
}

.single-latest-blog img {
	min-width: 100%;
}

.single-latest-blog .latest-text {
	padding-top: 5px;
}

.single-latest-blog .latest-text .tag-list {
	margin-bottom: 8px;
}

.single-latest-blog .latest-text .tag-list .tag-item {
	font-size: 16px;
	color: #a2a1a1;
	display: inline-block;
	margin-right: 15px;
}

.single-latest-blog .latest-text .tag-list .tag-item i {
	color: #e7ab3c;
}

.single-latest-blog .latest-text a {
	display: block;
}

.single-latest-blog .latest-text a h4 {
	color: #252525;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 16px;
}

.benefit-items {
	border: 1px solid #ebebeb;
	margin-top: 15px;
}

.benefit-items .single-benefit {
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	border-right: 1px solid #F3F4F0;
}

.benefit-items .single-benefit .sb-icon {
	float: left;
	margin-right: 20px;
}

.benefit-items .single-benefit .sb-text {
	display: table;
}

.benefit-items .single-benefit .sb-text h6 {
	color: #252525;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.benefit-items .single-benefit .sb-text p {
	margin-bottom: 0;
	color: #252525;
	line-height: 20px;
}

.partner-logo {
	background: #303030;
	padding: 38px 0;
}

.logo-carousel .logo-item {
	display: table;
}

.logo-carousel .logo-item .tablecell-inner {
	display: table-cell;
	height: 45px;
	vertical-align: middle;
}

.owl-carousel .owl-item img {
	display: block;
	width: auto;
}

.single-related-product .desc {
	margin: 15px;
}

/* line 610, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.single-related-product .price {
	font-weight: 600;
	color: #000;
}

/* line 614, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.single-related-product a {
	color: #000;
}

/* line 619, /Applications/MAMP/htdocs/1.monthy projects/29.Shop/scss/theme/_home.scss */
.logo-wrap {
	padding: 60px 65px;
	background-color: white;
	box-shadow: -21.213px 21.213px 30px 0px rgba(157, 157, 157, 0.2);
}

.single-img img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.section-gap {
	padding: 120px 0;
}
.top-section-area .top-left ul li .lnr {
	color: #fff;
	font-weight: 900;
	margin: 0px 20px;
}

